<div>
  <h2 class="text-center text-red-700">Termo</h2>
  <p class="font-semibold">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry’s standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type.
  </p>
  <hr />
  <form class="flex flex-column align-items-center" [formGroup]="formGroup">
    <div class="flex align-items-center gap-1 py-2">
      <p-checkbox formControlName="accept" [binary]="true" inputId="accept" />
      <label for="accept">Li e aceito os termos e condições acima</label>
    </div>
    <p-button
      label="Ok, ENTENDI"
      severity="warning"
      [disabled]="!formGroup.get('accept').value"
      (onClick)="endPage()"
    />
  </form>
</div>
