<div>
  <h2 class="text-center">Perfil do Investidor - Questionário</h2>
  <div>
    <form [formGroup]="formGroup">
      @if(dynamic){
      <div>
        <h3 class="text-center">1- {{ dynamic[0].question }}</h3>
        <div class="flex justify-content-center">
          <label>
            <input
              type="radio"
              value="{{ dynamic[0].answers[0] }}"
              formControlName="question1"
            />
            <span>{{ dynamic[0].answers[0] }}</span>
          </label>
          <label>
            <input
              type="radio"
              value="{{ dynamic[0].answers[1] }}"
              formControlName="question1"
            />
            <span>{{ dynamic[0].answers[1] }}</span>
          </label>
          <label>
            <input
              type="radio"
              value="{{ dynamic[0].answers[2] }}"
              formControlName="question1"
            />
            <span>{{ dynamic[0].answers[2] }}</span>
          </label>
        </div>
      </div>
      <div>
        <h3 class="text-center">2- {{ dynamic[1].question }}</h3>
        <div class="flex justify-content-center">
          <label>
            <input
              type="radio"
              value="{{ dynamic[1].answers[0] }}"
              formControlName="question2"
            />
            <span>{{ dynamic[1].answers[0] }}</span>
          </label>
          <label>
            <input
              type="radio"
              value="{{ dynamic[1].answers[1] }}"
              formControlName="question2"
            />
            <span>{{ dynamic[1].answers[1] }}</span>
          </label>
          <label>
            <input
              type="radio"
              value="{{ dynamic[1].answers[2] }}"
              formControlName="question2"
            />
            <span>{{ dynamic[1].answers[2] }}</span>
          </label>
        </div>
      </div>
      <div>
        <h3 class="text-center">3- {{ dynamic[2].question }}</h3>
        <div class="flex justify-content-center">
          <label>
            <input
              type="radio"
              value="{{ dynamic[2].answers[0] }}"
              formControlName="question3"
            />
            <span>{{ dynamic[2].answers[0] }}</span>
          </label>
          <label>
            <input
              type="radio"
              value="{{ dynamic[2].answers[1] }}"
              formControlName="question3"
            />
            <span>{{ dynamic[2].answers[1] }}</span>
          </label>
          <label>
            <input
              type="radio"
              value="{{ dynamic[2].answers[2] }}"
              formControlName="question3"
            />
            <span>{{ dynamic[2].answers[2] }}</span>
          </label>
        </div>
      </div>
      }
      <div>
        <p class="text-center">4 - O anuncio vem aqui</p>
        <div class="flex justify-content-center">
          <div class="flex flex-column">
            <div class="m-2">
              <label class="m-2">{{ firstSubtitle }}</label
              ><br />
              <p-dropdown
                class="m-1"
                formControlName="optionTreasure"
                [options]="treasureList"
                optionLabel="label"
                placeholder="Selecione"
              />
            </div>

            <div class="m-2">
              <label class="m-2">{{ secondSubtitle }}</label
              ><br />
              <p-dropdown
                class="m-1"
                formControlName="optionsFounds"
                [options]="foundsList"
                optionLabel="label"
                placeholder="Selecione"
              />
            </div>
          </div>
          <div class="flex flex-column">
            <div class="m-2">
              <label class="m-2">{{ thirtySubtitle }}</label
              ><br />
              <p-dropdown
                class="m-1"
                formControlName="optionActions"
                [options]="actionsList"
                optionLabel="label"
                placeholder="Selecione"
              />
            </div>
            <div class="m-2">
              <label class="m-2">{{ fortySubtitle }}</label
              ><br />
              <p-dropdown
                class="m-1"
                formControlName="optionGeneric"
                [options]="genericList"
                optionLabel="label"
                placeholder="Selecione"
              />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="flex justify-content-center mt-3">
    <p-button
      class="mx-2"
      label="Voltar"
      [outlined]="true"
      severity="warning"
      (onClick)="backRoute()"
    />
    <p-button
      label="Salvar"
      [outlined]="true"
      severity="warning"
      (onClick)="saveData()"
      [disabled]="formGroup.invalid"
    />
  </div>
</div>
